<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/style.css}"></link>
</head>
<body onload='document.f.username.focus();'>
<div id="loginForm">
    <h3>Login With Username and Password</h3>
    <div class="error" th:if="${param.error}">
        Incorrect username or password. Try again.
    </div>

    <form name='f' th:action="@{/login}" method='POST'>
        <table>
            <tr>
                <td>User:</td>
                <td><input type='text' name='username' value='' /></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type='password' name='password' /></td>
            </tr>
            <tr>
                <td colspan='2'><input name="submit" type="submit"
                                       value="Login" /></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>