<!DOCTYPE HTML>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>登录页</title>

	<link th:href="@{/plugins/bootstrap-3.3.0/css/bootstrap.min.css}" rel="stylesheet"/>
	<link th:href="@{/plugins/material-design-iconic-font-2.2.0/css/material-design-iconic-font.min.css}" rel="stylesheet"/>
	<link th:href="@{/plugins/waves-0.7.5/waves.min.css}" rel="stylesheet"/>
	<link th:href="@{/plugins/checkbix/css/checkbix.min.css}" rel="stylesheet"/>
	<link th:href="@{/css/login.css}" rel="stylesheet"/>
</head>
<body>
<div id="login-window">
	<div class="input-group m-b-20">
		<span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
		<div class="fg-line">
			<input id="username" type="text" class="form-control" name="username" placeholder="帐号" required="required" autofocus="autofocus" value="test"/>
		</div>
	</div>
	<div class="input-group m-b-20">
		<span class="input-group-addon"><i class="zmdi zmdi-male"></i></span>
		<div class="fg-line">
			<input id="password" type="password" class="form-control" name="password" placeholder="密码" required="required" value="123"/>
		</div>
	</div>
	<div class="clearfix">
	</div>
	<div class="checkbox">
		<input id="rememberMe" type="checkbox" class="checkbix" data-text="自动登录" name="rememberMe"/>
	</div>
	<a id="login-bt" href="javascript:;" class="waves-effect waves-button waves-float"><i class="zmdi zmdi-arrow-forward"></i></a>
</div>
<script th:src="@{/plugins/jquery.1.12.4.min.js}"></script>
<script th:src="@{/plugins/bootstrap-3.3.0/js/bootstrap.min.js}"></script>
<script th:src="@{/plugins/waves-0.7.5/waves.min.js}"></script>
<script th:src="@{/plugins/checkbix/js/checkbix.min.js}"></script>
<script th:src="@{/js/login.js}"></script>
<script type="text/javascript">
	Checkbix.init();
</script>
</body>
</html>