h2 {
    color: blue;
}

body {
    background-color: #cccccc;
    font-family: arial,helvetica,sans-serif;
}

.bookHeadline {
    font-size: 12pt;
    font-weight: bold;
}

.bookDescription {
    font-size: 10pt;
}

label {
    font-weight: bold;
}

.error {
    color: red;
}

.errorPage {
    text-align:center;
}

.oops {
    font-size: 76pt;
}